.card {
  position: relative;
  margin: 30px;
  padding: 30px;
  border: 20px;
  box-shadow: 0 2px 8px  white;  
  
  width: 350px;
  max-height: 100rem;
  overflow: hidden;
  
  background: linear-gradient(to right bottom, #faf8f3, #f1ebeb);
  
}


